.component-header-img {
  background: url('../../images/juice.jpg');
  background-position: center;
  background-size: 100%;
  border: 1px solid #08b132;
  height: 180px;
  margin-bottom: 30px;
}

.expand-container {
  transition: height 200ms ease-in-out !important;
  margin-bottom: 20px;
}

.component-app-bar-header {
  box-shadow: none !important;
  font-family: 'Times New Roman', Times, serif !important;
}

.header-mokacb {
  background-color: #feb900 !important;
  cursor: pointer;
}

.text-container-mokacb {
  border: 1px solid #feb900;
}

.header-mokacb>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokacb>div>button {
  height: 44px !important;
}

.header-mokacb h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.arrow-collapse-rotate {
  transform: rotate(180deg);
}

.header-mokaero {
  background-color: #f70000 !important;
  cursor: pointer;
}

.text-container-mokaero {
  border: 1px solid #f70000;
}

.header-mokaero>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokaero>div>button {
  height: 44px !important;
}

.header-mokaero h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokasw {
  background-color: #aa0000 !important;
  cursor: pointer;
}

.text-container-mokasw {
  border: 1px solid #aa0000;
}

.header-mokasw>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokasw>div>button {
  height: 44px !important;
}

.header-mokasw h1 {
  font-size: 16px !important;
  pointer-events: none;
}

@media only screen and (max-width: 900px) {
  .component-header-img {
    margin-bottom: 15px;
    height: 150px;
  }
  .expand-container {
    margin-bottom: 15px;
  }
}