.component-header-img {
  background-size: 100%;
  border: 1px solid #08b132;
  height: 180px;
  margin-bottom: 30px;
}

.component-text-container {
  background: white;
}

.text {
  z-index: 5;
  position: relative;
}

.background-image {
  opacity: 1;
  position: absolute;
  z-index: 3;
  margin: -18px -25px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.wild-img {
  background: url('../../images/juice.jpg');
  background-position: center;
}

.supperfood-img {
  background: url('../../images/peanut.jpg');
  background-position: 50% 70%;
}

.mokate-img {
  background-color: white;
  background-image: url('../../images/mokate_logo.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 130px;
}

.mprofood-img {
  background-image: url('../../images/meat.jpeg');
  background-position: 50% 68%;
}

.expand-container {
  position: relative;
  transition: height 200ms ease-in-out !important;
  margin-bottom: 20px;
}

.expand-container:last-of-type {
  margin-bottom: 0px;
}

.component-app-bar-header {
  box-shadow: none !important;
  font-family: 'Times New Roman', Times, serif !important;
}

.header-mokacb {
  background-color: #feb900 !important;
  cursor: pointer;
}

.text-container-mokacb {
  border: 1px solid #feb900;
}

.header-mokacb>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokacb>div>button {
  height: 44px !important;
}

.header-mokacb h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.arrow-collapse-rotate {
  transform: rotate(180deg);
}

.header-mokaero {
  background-color: #f70000 !important;
  cursor: pointer;
}

.text-container-mokaero {
  border: 1px solid #f70000;
}

.header-mokaero>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokaero>div>button {
  height: 44px !important;
}

.header-mokaero h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokasw {
  background-color: #aa0000 !important;
  cursor: pointer;
}

.text-container-mokasw {
  border: 1px solid #aa0000;
}

.header-mokasw>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokasw>div>button {
  height: 44px !important;
}

.header-mokasw h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokatetogo {
  background-color: #b70082 !important;
  cursor: pointer;
}

.text-container-mokatetogo {
  border: 1px solid #b70082;
}

.header-mokatetogo>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokatetogo>div>button {
  height: 44px !important;
}

.header-mokatetogo h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokacw {
  background-color: #209ecf !important;
  cursor: pointer;
}

.text-container-mokacw {
  border: 1px solid #209ecf;
}

.header-mokacw>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokacw>div>button {
  height: 44px !important;
}

.header-mokacw h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokafp {
  background-color: #00d926 !important;
  cursor: pointer;
}

.text-container-mokafp {
  border: 1px solid #00d926;
}

.header-mokafp>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokafp>div>button {
  height: 44px !important;
}

.header-mokafp h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.header-mokamm {
  background-color: #008f1a !important;
  cursor: pointer;
}

.text-container-mokamm {
  border: 1px solid #008f1a;
}

.header-mokamm>div {
  margin-top: 0px !important;
  pointer-events: none;
}

.header-mokamm>div>button {
  height: 44px !important;
}

.header-mokamm h1 {
  font-size: 16px !important;
  pointer-events: none;
}

.mokacb-img {
  background-image: url('../../images/mokacb.jpg');
  background-position: 0% 100%;
}

.mokaero-img {
  background-image: url('../../images/mokaero.jpg');
  background-position: 0% 100%;
}

.mokasw-img {
  background-image: url('../../images/mokasw.jpg');
  background-position: 0% 100%;
}

.mokatetogo-img {
  background-image: url('../../images/mokatetogo.jpg');
  background-position: 0% 100%;
}

.mokacw-img {
  background-image: url('../../images/mokacw.jpg');
  background-position: 0% 100%;
}

.mokafp-img {
  background-image: url('../../images/mokafp.jpg');
  background-position: 0% 100%;
}

.mokamm-img {
  background-image: url('../../images/mokamm.jpg');
  background-position: 0% 100%;
}

.Supperfood .component-text-container h4:first-of-type {
  margin-top: 0px !important;
}

.mprofood-text-container ul {
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 900px) {
  .component-header-img {
    margin-bottom: 15px;
    height: 150px;
    background-size: 100%;
  }
  .expand-container {
    margin-bottom: 15px;
  }
  .background-image {
    margin: -12px -18px;
    opacity: 0.5;
  }
  .mokate-img {
    background-size: 48%;
    height: 130px;
  }
  .mprofood-img {
    background-position: 50% 70%;
  }
}