.Navigation {
  margin-left: 256px;
}

.Navigation .app-bar {
  background-color: #008823 !important;
  font-family: 'Times New Roman', Times, serif !important;
  box-shadow: none !important;
}

.Navigation .app-bar a {
  color: white;
  text-decoration: none;
}

.Navigation .app-bar h1 {
  font-size: 20px !important;
}

.language div {
  padding: 0px !important;
  text-align: center !important;
  font-family: 'Times New Roman', Times, serif !important;
}

.drawer>div {
  border-right: 1px solid #dcdcdc;
  box-shadow: none !important;
}

.drawer-header {
  height: 64px;
  width: 100%;
  border: none !important;
  background: #008823;
  line-height: 64px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif !important;
}

.close-drawer-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  padding-top: 8px;
}

.close-drawer-container svg {
  color: white !important;
}

.drawer-menu-items {
  margin-top: 10px;
  margin-bottom: 10px;
}

.drawer-menu-items div {
  font-family: 'Times New Roman', Times, serif !important;
}

.submenu {
  display: none;
}

.sm-active {
  display: block;
}

.submenu-item {
  padding-left: 14px !important;
  background: #f8f8f8 !important;
}

.submenu-item:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.submenu span {
  line-height: 24px !important;
  padding: 10px 16px !important;
}

.menu-btn-category span {
  text-transform: capitalize !important;
  font-size: 16px !important;
}

@media only screen and (max-width: 900px) {
  .Navigation {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .hamb-icon {
    display: none !important;
  }
  .close-drawer-container {
    display: none;
  }
}